@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #403f3d;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  padding: 20px 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -ms-grid-column-align: center;
      justify-self: center;
}

.menu__icon {
  display: none;
  position: absolute;
  top: 28px;
  right: 20px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 5;
  border: 1px solid #403f3d;
  border-radius: 50%;
}

.menu__icon span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: -3px;
  left: 0;
  width: 16px;
  height: 1.5px;
  background-color: #403f3d;
}

.menu__icon span:last-child {
  position: relative;
  top: 5px;
}

.menu-open .menu__icon span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-open .menu__icon span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 1px;
}

.menu-open .menu__icon span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__link {
  display: block;
  position: relative;
  font-weight: 600;
}

.menu__link span {
  position: relative;
}

.menu__link span.coffee-cup {
  display: inline-block;
  margin: 0px 0px 0px 330px;
}

.menu__link span.coffee-cup img {
  margin: 0px 0px 0px 8px;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -4px;
}

.menu__link span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #403f3d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link.active span::after,
.menu__link:hover span::after {
  left: 0;
  width: 100%;
}

.menu__link.active {
  pointer-events: none;
}

.no-webp .enjoy__body{
  background: url("../img/enjoy/enjoy-1.jpg") center/cover, lightgray 50%/cover no-repeat; }

.enjoy__body {
  border-radius: 40px;
}

.enjoy__content {
  max-width: 630px;
  padding: 100px 0px 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.enjoy__title {
  color: #e1d4c9;
  font-size: 72px;
  line-height: 105%;
  font-weight: 600;
}

.enjoy__title span {
  font-style: italic;
  color: #b0907a;
}

.enjoy__text {
  color: #e1d4c9;
  line-height: 150%;
}

.enjoy__btn {
  display: inline-block;
  max-width: 200px;
  padding: 25px;
  text-align: center;
  font-weight: 600;
  border-radius: 100px;
  background: #e1d4c9;
}

.enjoy__btn span {
  position: relative;
  -webkit-transition: right 0.2s ease 0s;
  transition: right 0.2s ease 0s;
  right: 0;
}

.enjoy__btn span::after {
  content: url("../img/icons/coffee-cup.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  top: -2px;
  right: -25px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.enjoy__btn:hover span {
  right: 8px;
}

.enjoy__btn:hover span::after {
  opacity: 1;
  visibility: visible;
}

.favorites__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.favorites__title {
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__navigation {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 100px;
  border: 1px solid #665f55;
  background: url("../img/icons/slider/slider-arrow.svg") center/24px 24px no-repeat;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.slider__navigation:hover {
  background: url("../img/icons/slider/slider-arrow-light.svg") center/24px 24px no-repeat;
  background-color: #665f55;
}

.slider__navigation.navigation--left {
  left: 5px;
}

.slider__navigation.navigation--right {
  right: 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-align: center;
}

.slide__image img {
  width: 480px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide__body {
  width: 480px;
}

.slide__name {
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
}

.slide__text {
  padding: 16px 0;
  line-height: 150%;
}

.slide__cost {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.pagination__button {
  width: 40px;
  height: 4px;
  background-color: #c1b6ad;
  border-radius: 100px;
}

.pagination__button.active {
  background-color: #665f55;
}

.about__content {
  padding: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.about__item {
  max-width: 660px;
  max-height: 590px;
  overflow: hidden;
  border-radius: 20px;
}

.about__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.about__item img:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.about__item.item--small {
  max-height: 430px;
}

.mobile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.mobile__text {
  padding: 40px 0;
  line-height: 150%;
}

.mobile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mobile__image {
  width: 630px;
  height: 630px;
}

.mobile__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.menu__title {
  max-width: 800px;
  text-align: center;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.tabs__item {
  padding: 8px 16px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.tabs__item:hover,
.tabs__item.tab--active {
  cursor: pointer;
  color: #e1d4c9;
  background-color: #665f55;
}

.tabs__item:hover .tabs__icon,
.tabs__item.tab--active .tabs__icon {
  background-color: #e1d4c9;
}

.tabs__item.tab--active {
  pointer-events: none;
}

.tabs__icon {
  padding: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c1b6ad;
}

.tabs__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tabs__text {
  font-weight: 600;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__card {
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
}

.cards__card:hover {
  cursor: pointer;
}

.cards__card:hover .card__image img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.card__image {
  width: 308px;
  height: 308px;
  border-radius: 40px;
  overflow: hidden;
}

.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.card__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.card__name,
.card__cost {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 150%;
}

.footer {
  margin: 100px 0px 40px 0px;
}

.footer__body {
  padding: 100px;
  border-radius: 40px;
  background-color: #665f55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  color: #e1d4c9;
  font-weight: 600;
}

.footer__column {
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.footer__title {
  font-size: 60px;
  line-height: 125%;
}

.footer__title span {
  color: #b0907a;
  font-style: italic;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer__link {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #c1b6ad;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link svg path {
  stroke: #e1d4c9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link:hover {
  background-color: #e1d4c9;
}

.footer__link:hover svg path {
  stroke: #403f3d;
}

.footer__text {
  font-size: 24px;
  line-height: 125%;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  line-height: 150%;
}

.footer__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  position: relative;
}

.footer__contact a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #e1d4c9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__contact a:hover::after {
  width: 100%;
  left: 0;
}

.footer__contact img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665f55;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn svg path {
  fill: #403f3d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn span {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.btn span span {
  display: block;
  font-size: 16px;
  line-height: 150%;
}

.btn:hover {
  background-color: #665f55;
  color: #e1d4c9;
}

.btn:hover svg path {
  fill: #e1d4c9;
}

.section--title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.section--title span {
  color: #b0907a;
  font-style: italic;
}

@media (max-width: 47.99875em) {
  .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -110%;
    left: 0;
    background-color: #e1d4c9;
    z-index: 2;
    padding: 160px 10px 20px 10px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body.menu-open {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .menu__link {
    font-size: 32px;
  }

  .menu__link span.coffee-cup {
    margin: 40px 0px 0px 0px;
  }

  .menu__link span.coffee-cup img {
    margin: 0px 0px 0px 16px;
    width: 40px;
    height: 40px;
    top: -8px;
  }
}

.webp .enjoy__body{ background: url(../img/enjoy/enjoy-1.webp) center/cover, lightgray 50%/cover no-repeat; }