.game {
  padding: 30px 0;

  &__body {
    display: flex;
    gap: 80px;

    @media (max-width: 1130px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &:first-child {
      gap: 30px;

      @media (max-width: 1130px) {
        flex-direction: column-reverse;
      }
    }

    &:last-child {
      padding: 50px 0px 0px 0px;

      @media (max-width: 1130px) {
        padding: 0px 0px 0px 0px;
      }
    }
  }

  &__gallows {
    width: 350px;
    @include adaptiveValue('width', 350, 250);
    height: 350px;
    @include adaptiveValue('height', 350, 250);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 12px;
      bottom: 0;
      left: 0;
      background-color: #000;
    }
  }

  &__title {
    font-size: 32px;
    @include adaptiveValue('font-size', 32, 26);
    font-weight: 800;
    text-transform: uppercase;
  }

  &__word {
    margin: 0px 0px 35px 0px;
    @include adaptiveValue('margin-bottom', 35, 10);
    display: flex;
    gap: 20px;
  }

  &__hint {
    @include adaptiveValue('font-size', 28, 18);
    line-height: 1.2;

    @media (max-width: 815px) {
      text-align: center;
    }
  }

  &__counter {
    @include adaptiveValue('font-size', 28, 18);

    span {
      color: red;
    }
  }

  &__keyboard {
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include adaptiveValue('gap', 10, 5);

    @media (max-width: 1130px) {
      margin: 30px 0px 0px 0px;
      @include adaptiveValue('margin-top', 30, 10);
    }
  }
}

.gallows {
  &__man {
    position: absolute;
    object-fit: cover;
    top: 90px;
    @include adaptiveValue('top', 90, 63);
    right: 70px;
    @include adaptiveValue('right', 70, 49);

    div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.man {
  &__wrapper {
    position: relative;
  }

  &__head {
    width: 60px;
    @include adaptiveValue('width', 60, 45);
    height: 60px;
    @include adaptiveValue('height', 60, 45);
  }

  &__body {
    position: absolute;
    width: 4px;
    @include adaptiveValue('width', 4, 3);
    height: 90px;
    @include adaptiveValue('height', 90, 80);
    right: 28px;
    @include adaptiveValue('right', 28, 20);
  }

  &__hand,
  &__leg {
    width: 48px;
    @include adaptiveValue('width', 48, 38);
    height: 60px;
    @include adaptiveValue('height', 60, 50);
    position: absolute;
  }

  &__hand {
    left: -18px;
    @include adaptiveValue('left', -18, -15);

    &.hand--right {
      left: 30px;
      @include adaptiveValue('left', 30, 25);
    }
  }

  &__leg {
    top: 146px;
    @include adaptiveValue('top', 146, 122);
    left: -16px;

    &.leg--right {
      left: 28px;
      @include adaptiveValue('left', 28, 25);
    }
  }
}

.word {
  &__letter {
    min-height: 39px;
    @include adaptiveValue('min-height', 39, 30);
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.letter {
  &__text {
    flex: 1 1 auto;
    text-align: center;
    font-size: 30px;
    @include adaptiveValue('font-size', 30, 22);
  }

  &__underscore {
    width: 45px;
    @include adaptiveValue('width', 45, 30);
    height: 4px;
    @include adaptiveValue('height', 4, 2);
    background-color: #000;
  }
}

.keyboard {
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include adaptiveValue('gap', 10, 5);
  }

  &__key {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 65px;
    height: 55px;
    @include adaptiveValue('width', 65, 30);
    @include adaptiveValue('height', 55, 30);

    color: #fff;
    font-size: 26px;
    @include adaptiveValue('font-size', 26, 15);
    font-weight: 600;

    background-color: #5455ac;
    border-radius: 10px;
    transition: all 0.2s ease 0s;

    cursor: pointer;

    @media (min-width: 768px) {
      &:hover,
      &.active {
        background-color: #383985;
      }
    }
  }
}
