// Формы
@import 'base/forms/forms';

// Общие стили
.section--title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;

  span {
    color: #b0907a;
    font-style: italic;
  }

  @media (max-width: $mobile) {
    @include adaptiveValue('font-size', 60, 32, 767.98, 379.98);
  }

  @media (max-width: $mobileSmall) {
    @include adaptiveValue('font-size', 32, 28, 379.98, 319.98);
  }
}
