.footer {
  margin: 100px 0px 40px 0px;

  @media (max-width: $mobileSmall) {
    @include adaptiveValue('margin-top', 100, 40, 379.98, 319.98);
    @include adaptiveValue('margin-bottom', 40, 25, 379.98, 319.98);
  }

  &__body {
    padding: 100px;
    border-radius: 40px;
    background-color: #665f55;

    display: flex;
    align-items: center;
    gap: 100px;

    color: #e1d4c9;
    font-weight: 600;

    @media (max-width: 1120px) {
      padding: 100px 60px;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $mobile) {
      @include adaptiveValue('gap', 100, 40, 767.98, 379.98);
      @include adaptiveValue('padding-top', 100, 60, 767.98, 379.98);
      @include adaptiveValue('padding-bottom', 100, 63, 767.98, 379.98);
      @include adaptiveValue('padding-left', 60, 16, 767.98, 379.98);
      @include adaptiveValue('padding-right', 60, 16, 767.98, 379.98);
    }

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('gap', 40, 20, 379.98, 319.98);
      @include adaptiveValue('padding-top', 60, 45, 379.98, 319.98);
      @include adaptiveValue('padding-bottom', 60, 45, 379.98, 319.98);
    }
  }

  &__column {
    max-width: 530px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('gap', 40, 20, 379.98, 319.98);
    }
  }

  &__title {
    font-size: 60px;
    line-height: 125%;

    @media (max-width: $mobile) {
      @include adaptiveValue('font-size', 60, 32, 767.98, 379.98);
    }

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('font-size', 32, 28, 379.98, 319.98);
    }

    span {
      color: #b0907a;
      font-style: italic;
    }
  }

  &__links {
    display: flex;
    gap: 12px;
  }

  &__link {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid #c1b6ad;
    transition: all 0.3s ease 0s;

    svg path {
      stroke: #e1d4c9;
      transition: all 0.3s ease 0s;
    }

    @media (min-width: $mobile) {
      &:hover {
        background-color: #e1d4c9;

        svg path {
          stroke: #403f3d;
        }
      }
    }

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('width', 60, 45, 379.98, 319.98);
      @include adaptiveValue('height', 60, 45, 379.98, 319.98);

      svg {
        @include adaptiveValue('width', 24, 22, 379.98, 319.98);
        @include adaptiveValue('height', 24, 22, 379.98, 319.98);
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 125%;

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('font-size', 24, 20, 379.98, 319.98);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__contact {
    display: flex;
    gap: 8px;
    line-height: 150%;

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('font-size', 16, 14, 379.98, 319.98);
    }

    a {
      display: flex;
      gap: 8px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: #e1d4c9;
        transition: all 0.3s ease 0s;
      }

      @media (min-width: $mobile) {
        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }

    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
}
