.keyboard {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include adaptiveValue('gap', 10, 5);

  @media (max-width: 1130px) {
    margin: 30px 0px 0px 0px;
    @include adaptiveValue('margin-top', 30, 10);
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include adaptiveValue('gap', 10, 5);
  }

  &__key {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 65px;
    height: 55px;
    @include adaptiveValue('width', 65, 30);
    @include adaptiveValue('height', 55, 30);

    color: #fff;
    font-size: 26px;
    @include adaptiveValue('font-size', 26, 15);
    font-weight: 600;

    background-color: #5455ac;
    border-radius: 10px;
    transition: all 0.2s ease 0s;

    cursor: pointer;

    @media (min-width: 768px) {
      &:hover,
      &.active {
        background-color: #383985;
      }
    }

    &.disabled {
      cursor: auto;
      background-color: rgb(193, 193, 193);
    }
  }
}
