// <BUTTON>
.btn {
  display: inline-block;
  width: 200px;
  padding: 12px 20px;

  border-radius: 100px;
  border: 1px solid #665f55;

  display: flex;
  gap: 8px;

  img {
    width: 36px;
    height: 36px;
    object-fit: cover;
  }

  span {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;

    span {
      display: block;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &.fw {
    width: 100%;
  }
}
// </BUTTON>
