// <BUTTON>
.btn {
  display: inline-block;
  width: 200px;
  padding: 12px 20px;

  display: flex;
  gap: 8px;

  border-radius: 100px;
  border: 1px solid #665f55;
  transition: all 0.3s ease 0s;

  svg path {
    fill: #403f3d;
    transition: all 0.3s ease 0s;
  }

  span {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;

    span {
      display: block;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &:hover {
    background-color: #665f55;
    color: #e1d4c9;

    svg path {
      fill: #e1d4c9;
    }
  }
}
// </BUTTON>
