.about {
  &__content {
    padding: 40px 0px 0px 0px;
    display: flex;
    gap: 40px;

    @media (max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('gap', 40, 20, 379.98, 319.98);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    max-width: 660px;
    max-height: 590px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;

    @media (max-width: $tablet) {
      max-width: none;
      max-height: none;
    }

    @media (min-width: $mobile) {
      &:hover {
        img {
          transform: scale(1);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      transform: scale(1.1);
      transition: all 0.2s ease 0s;

      @media (max-width: $tablet) {
        width: 688px;
        height: 590px;
        transform: scale(1.05);
      }

      @media (max-width: $mobile) {
        transform: scale(1.23);
        @include adaptiveValue('width', 688, 348, 767.98, 379.98);
      }

      @media (max-width: $mobileSmall) {
        @include adaptiveValue('width', 348, 290, 379.98, 319.98);
        @include adaptiveValue('height', 590, 290, 379.98, 319.98);
      }
    }

    &.item--small {
      max-height: 430px;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
}
