.enjoy {
  &__body {
    background:
      url('@img/enjoy/enjoy-1.jpg') center / cover,
      lightgray 50% / cover no-repeat;
    border-radius: 40px;
  }

  &__content {
    max-width: 620px;
    padding: 100px 0px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: $pc) {
      @include adaptiveValue('padding-left', 100, 60, 1390, 767.98);
    }

    @media (max-width: $mobile) {
      max-width: none;
      @include adaptiveValue('padding-top', 100, 60, 767.98, 379.98);
      @include adaptiveValue('padding-bottom', 100, 60, 767.98, 379.98);
      @include adaptiveValue('padding-right', 60, 16, 767.98, 379.98);
      @include adaptiveValue('padding-left', 60, 16, 767.98, 379.98);
    }

    @media (max-width: $mobileSmall) {
      padding: 60px 16px;
      @include adaptiveValue('gap', 40, 20, 379.98, 319.98);
    }
  }

  &__title {
    color: #e1d4c9;
    font-size: 72px;
    line-height: 105%;
    font-weight: 600;

    span {
      font-style: italic;
      color: #b0907a;
    }

    @media (max-width: $mobile) {
      @include adaptiveValue('font-size', 72, 42, 767.98, 379.98);
      line-height: 115%;
    }

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('font-size', 42, 30, 379.98, 319.98);
    }
  }

  &__text {
    color: #e1d4c9;
    line-height: 150%;

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('font-size', 16, 14, 379.98, 319.98);
    }
  }

  &__btn {
    display: inline-block;
    max-width: 200px;
    padding: 25px;

    text-align: center;
    font-weight: 600;

    border-radius: 100px;
    background: #e1d4c9;

    span {
      position: relative;
      transition: right 0.2s ease 0s;
      right: 0;

      &::after {
        content: url('@img/icons/coffee-cup.svg');
        position: absolute;
        width: 20px;
        height: 20px;
        top: -2px;
        right: -25px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease 0s;

        @media (max-width: $mobile) {
          right: -27px;
        }
      }
    }

    @media (min-width: 768px) {
      &:hover {
        span {
          right: 8px;

          @media (max-width: $tablet) {
            right: 13px;
          }

          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    @media (max-width: 768px) {
      span {
        right: 8px;

        @media (max-width: $tablet) {
          right: 13px;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @media (max-width: 479.98px) {
      padding: 25px 25px 23px 25px;
    }

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('max-width', 200, 150, 379.98, 319.98);
      @include adaptiveValue('padding', 25, 15, 379.98, 319.98);
      @include adaptiveValue('font-size', 16, 14, 379.98, 319.98);
    }
  }
}
