@import 'sections/enjoy';
@import 'sections/favorites';
@import 'sections/about';
@import 'sections/mobile';

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media (max-width: $mobileSmall) {
    @include adaptiveValue('gap', 100, 50, 379.98, 319.98);
  }
}
